@use "@material/theme" with (
    $primary: #2b5a3f,
    $on-primary: #f4f0e7,
    $secondary: #6aa07e,
    $on-secondary: #f4f0e7,
    $surface: #f4f0e7,
    //   $on-surface: #555b54
  );
@use "@material/button/styles";
@use "@material/card";
@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/layout-grid/mdc-layout-grid";
@use "@material/list";
@use "@material/dialog";
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";

@include textfield.core-styles;
@include dialog.core-styles;
@include card.core-styles;
@include list.core-styles;

#navLinks {
  & .mdc-theme--on-primary,
  & .mdc-top-app-bar {
    color: #f4f0e7;
  }
}
